@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');



@font-face {
  font-family: 'tt'; /* Name your font family */
  src: url('./TT\ Ramillas\ Trial\ Light.ttf'); /* Locate the .ttf file within your directory*/
}
html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
}
body {
  font-family: 'tt', serif;
  background-color: #c9cfbd;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
h1{
  font-size: 9vw;
}
h2{
  font-size: 6vw;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name{
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: xxx-large;
}
.topSection{
  height: 60vw;
}
.desc{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 2.8vw;
}

.branch1{
  position: absolute;
  margin-left: -55%;
  margin-top: -5%;
  width: 35%;
  animation: slide-in 1000ms;

}
.branch2{
  position: absolute;
  margin-top: -2%;
  margin-left: 5%;
  width: 23%;
  animation: slide-in2 1000ms;

}

.branch3{
  position: absolute;
  margin-top: 15%;
  margin-left: 40%;
  width: 13%;
  transform: rotate(100deg);

  animation: slide-in3 1000ms;

}
.branch4{
  position: absolute;
  margin-top: 40%;
  margin-left: 28%;
  width: 30%;
  transform: rotate(180deg);
  animation: slide-in4 1000ms;
}
.branch5{
  position: absolute;
  margin-top: 35%;
  margin-left: -70%;
  width: 30%;
  transform: rotate(-30deg);
  animation: slide-in5 1000ms;
}
.ivy{
  position: absolute;
  margin-top: 0%;
  margin-left: -50%;
  width: 100%;
  animation: ivy-flow infinite 5000ms;
}
.frameSection{
  position: absolute;
  font-size: xxx-large;

}
.text1{
  width: 100%;
  margin-left: 200%;
}
.row2{
  margin-top: 25vw;
}
.java{
  position: absolute;
  height: 12vw;
  width: 12vw;
  margin-left: 15vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
}
p{
  font-weight: 400;
}
.java:hover{
  animation: slowly-hide 1000ms;
  opacity: 0;
}
.java1{
  position: absolute;
  height: 12vw;
  width: 12vw;
  margin-left: 15vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  z-index: 0;
}
.java1 p{
  font-size: 3vw;
  margin-top: 3.8vw;
  
}
.python{
  position: absolute;
  height: 12vw;
  width: 12vw;
  margin-left: 34vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
}
.python:hover{
  animation: slowly-hide 1000ms;
  opacity: 0;
}
.py1{
  position: absolute;
  height: 12vw;
  width: 12vw;
  margin-left: 34vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  z-index: 0;
}
.py1 p{
  font-size: 3vw;
  margin-top: 3.8vw;
}
.react{
  height: 12vw;
  width: 12vw;
  margin-left: 53vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.react:hover{
  animation: slowly-hide 1000ms;
  opacity: 0;
}
.re1{
  height: 12vw;
  width: 12vw;
  margin-left: 53vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.re1 p{
  font-size: 3vw;
  margin-top: 3.8vw;
}
.node{
  height: 12vw;
  width: 12vw;
  margin-left: 70vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.node:hover{
  animation: slowly-hide 1000ms;
  opacity: 0;
}
.n1{
  height: 12vw;
  width: 12vw;
  margin-left: 70vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.n1 p{
  font-size: 3vw;
  margin-top: 3.8vw;
}
.sql{
  height: 12vw;
  width: 12vw;
  margin-left: 15vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.sql:hover{
  animation: slowly-hide 1000ms;
  opacity: 0;
}
.s1{
  height: 12vw;
  width: 12vw;
  margin-left: 15vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.s1 p{
  font-size: 3vw;
  margin-top: 3.8vw;
}
.kotlin{
  height: 12vw;
  width: 12vw;
  margin-left: 34vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.kotlin:hover{
  animation: slowly-hide 1000ms;
  opacity: 0;
}
.k1{
  height: 12vw;
  width: 12vw;
  margin-left: 34vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.k1 p{
  font-size: 3vw;
  margin-top: 3.8vw;
}
.cplusplus{
  height: 12vw;
  width: 12vw;
  margin-left: 53vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.cplusplus:hover{
  animation: slowly-hide 1000ms;
  opacity: 0;
}
.c1{
  height: 12vw;
  width: 12vw;
  margin-left: 53vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.c1 p{
  font-size: 3vw;
  margin-top: 3.8vw;
}
.php{
  height: 12vw;
  width: 12vw;
  margin-left: 70vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.p1{
  height: 12vw;
  width: 12vw;
  margin-left: 70vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.p1 p{
  font-size: 3vw;
  margin-top: 3.8vw;

}
.php:hover{
  animation: slowly-hide 1000ms;
  opacity: 0;
}
.javaimg{
  margin-top: 7%;
  width: 55%;
}

.pyimg{
  margin-top: 17%;
  width: 65%;
}

.logoimg{
  margin-top: 8%;
  margin-left: -10%;
  width: 120%;
}

.nodeimg{
  margin-top: 10%;
  width: 70%;
}

.sqlimg{
  margin-top: 30%;
  width: 90%;
}

.kotimg{
  margin-top: 23%;
  width: 55%;
}

.cimg{
  margin-top: 16%;
  width: 60%;
}

.phpimg{
  margin-top: 30%;
  width: 80%;
}

.bouqimg{
  position: absolute;
  margin-left:20%;
  margin-top: 50%;
  width: 30%;
  animation: bouq-flow infinite 5000ms;
}
.text2{
  width: 100%;
  margin-left: -20%;
  margin-top: 55%;
  position: absolute;
}
.projs{
  font-size: xxx-large;
  margin-bottom: 90vw;
}
table, td, th {
  border: 2px solid;
  font-family: 'tt', serif;
  font-size: 3vw;
}

table {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  width: 20%;
  border-collapse: collapse;
}
.lockedin{
  position: absolute;
  margin-top: 65%;
  margin-left: 3%;
}
.swipeordare{
  position: absolute;
  margin-top: 65%;
  margin-left: 38%;
}
.contactBar{
  height: 11vw; 
  position: fixed; 
  bottom:0%;
  width:100%; 
  background-color: #bbb69f; 
  opacity: 1;
  z-index: 10;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-in2 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes slide-in3 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
    transform: rotate(100deg);

  }
}
@keyframes slide-in4 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
    transform: rotate(180deg);

  }
}
@keyframes slide-in5 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
    transform: rotate(-30deg);

  }
}
@keyframes ivy-flow {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
    transform: rotate(-10deg);
  }
  100%{
    transform: translateX(100%);
    transform: rotate(0deg);
  }
}
@keyframes bouq-flow {
  50% {
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes slowly-hide {
  0%{
    opacity: 1;
    transform: rotate(0deg);
  }
  100%{
    opacity: 0;
    transform: rotate(360deg);
  }
}
.contactimg{
  width: 10%;
  z-index: 3;
}
.plantsinarow{
  margin-top: -14vw;
  width: 70%;
}
.git{
  width: 5%;
  position: absolute;
  margin-top: 4vw;
  margin-left: -63.9vw;
}
.gitp{
  margin-top: 5vw;
  margin-left: -53.8vw;
  font-size: 1vw;
}
.lin{
  position: absolute;
  width: 3.5%;
  margin-top: -6.9vw;
  margin-left: -15.7vw;
}
.linp{
  margin-top: -2.5vw;
  margin-left: -28vw;
  font-size: 1vw;

}
.insta{
  position: absolute;
  width: 3.7%;
  margin-top: -6.9vw;
  margin-left: -3.5vw;
}
.instap{
  margin-top: -2.5vw;
  margin-left: -3vw;
  font-size: 1vw;
}
.gmail{
  position: absolute;
  width: 4%;
  margin-top: -6.8vw;
  margin-left: 6.7vw;
}
.gp{
  font-size: 1vw;
  margin-top: -2.5vw;
  margin-left: 17.5vw;
}
.tik{
  position: absolute;
  width: 6%;
  margin-top: -8vw;
  margin-left: 16vw;
}
.tikp{
  margin-top: -2.4vw;
  font-size: 1vw;
  margin-left: 38vw;
}
.disc{
  position: absolute;
  width: 5%;
  margin-top: -6.8vw;
  margin-left: 26.7vw;
}
.discp{
  margin-top: -2.4vw;
  margin-left: 58.5vw;
  font-size: 1vw;
}
.experience{
  margin-bottom: 30%;
}
.text4{
  text-align: right;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 64px;
}

.carousel-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 64px;
  margin-block: auto;
  height: fit-content;
  width: 48px;
  background-color: white;
  border: none;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.carousel-arrow:hover,
.carousel-arrow:focus {
  opacity: 1;
}

.carousel-arrow--prev {
  margin-top: 188vw;
  border-radius: 5%;
  width: 5vw;
  height: 5vw;
  left: 0;
}
.prevArrow{
  width: 55%;
  transform: scaleX(-1);

}
.nextArrow{
  width: 55%;
}
.carousel-arrow--next {
  margin-top: 188vw;
  border-radius: 5%;
  width: 5vw;
  height: 5vw;
  right: 0;
}

.carousel-container {
  width: 100%;
  padding-block: 16px 32px;
  margin: 16px 48px;
  overflow-x: auto;
  display: flex;
  gap: 8px;
  align-items: center;
  scroll-snap-type: x mandatory;
  flex-flow: row nowrap;
  scroll-behavior: smooth;
}

.carousel-container::-webkit-scrollbar {
  height: 14px;
  width: calc(100% - 48px);
}

.carousel-container::-webkit-scrollbar-track {
  background: #b1b3b399;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: #354779;
}

.carousel-container::-webkit-scrollbar-track-piece:start {
  background: #354779;
}

.carousel-slide {
  flex: 1 0 30%;
  border-radius: 10%;
  aspect-ratio: 1;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c9b7e;
  color: rgba(255, 255, 255, 0.63);
  scroll-snap-align: center;
  font-size: 2vw;
}

@media (max-width: 600px) {
  .carousel-slide {
    flex: 1 0 90%;
  }
}

footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 16px;
  background-color: #eaeaea90;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

footer p {
  color: #221133;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}
