@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');



@font-face {
  font-family: 'tt'; /* Name your font family */
  font-size: 10vw;
  src: url('./TT\ Ramillas\ Trial\ Light.ttf'); /* Locate the .ttf file within your directory*/
}

body {
  font-family: 'tt', serif;
  background-color: #c9cfbd;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name{
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: xxx-large;
}
.topSection{
  height: 60vw;
}
.desc{
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 2.8vw;
}

.branch1{
  position: absolute;
  margin-left: -55%;
  margin-top: -5%;
  width: 35%;
}
.branch2{
  position: absolute;
  margin-top: -2%;
  margin-left: 5%;
  width: 23%;
}
.branch3{
  position: absolute;
  margin-top: 15%;
  margin-left: 40%;
  width: 13%;
  transform: rotate(100deg);
}
.branch4{
  position: absolute;
  margin-top: 40%;
  margin-left: 28%;
  width: 30%;
  transform: rotate(180deg);
}
.branch5{
  position: absolute;
  margin-top: 35%;
  margin-left: -70%;
  width: 30%;
  transform: rotate(-30deg);
}
.ivy{
  position: absolute;
  margin-top: 0%;
  margin-left: -50%;
  width: 100%;
}
.frameSection{
  position: absolute;
  font-size: xxx-large;
}
.text1{
  width: 100%;
  margin-left: 200%;
}
.row2{
  margin-top: 25vw;
}
.java{
  position: absolute;
  height: 12vw;
  width: 12vw;
  margin-left: 15vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
}
.python{
  position: absolute;
  height: 12vw;
  width: 12vw;
  margin-left: 34vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
}
.react{
  height: 12vw;
  width: 12vw;
  margin-left: 53vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.node{
  height: 12vw;
  width: 12vw;
  margin-left: 70vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.sql{
  height: 12vw;
  width: 12vw;
  margin-left: 15vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.kotlin{
  height: 12vw;
  width: 12vw;
  margin-left: 34vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.cplusplus{
  height: 12vw;
  width: 12vw;
  margin-left: 53vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.php{
  height: 12vw;
  width: 12vw;
  margin-left: 70vw;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.javaimg{
  margin-top: 7%;
  width: 55%;
}
.pyimg{
  margin-top: 17%;
  width: 65%;
}
.logoimg{
  margin-top: 8%;
  margin-left: -10%;
  width: 120%;
}
.nodeimg{
  margin-top: 10%;
  width: 70%;
}
.sqlimg{
  margin-top: 30%;
  width: 90%;
}
.kotimg{
  margin-top: 23%;
  width: 55%;
}
.cimg{
  margin-top: 16%;
  width: 60%;
}
.phpimg{
  margin-top: 30%;
  width: 80%;
}
.bouqimg{
  position: absolute;
  margin-left: 20%;
  margin-top: 50%;
  width: 30%;
}
.text2{
  width: 100%;
  margin-left: -20%;
  margin-top: 55%;
  position: absolute;
}
.projs{
  font-size: xxx-large;
  margin-bottom: 100vw;
}
table, td, th {
  border: 2px solid;
  font-family: 'tt', serif;
}

table {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  width: 20%;
  border-collapse: collapse;
}
.lockedin{
  position: absolute;
  margin-top: 65%;
  margin-left: 3%;
}
.swipeordare{
  position: absolute;
  margin-top: 65%;
  margin-left: 38%;
}
.contactBar{
  height: 10%; 
  position: fixed; 
  bottom:0%;
  width:100%; 
  background-color: #bbb69f; 
  opacity: 1;
}